*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0288D1 ;
}
header{
    background-color: #339ed8;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
    
}