body{
    padding: 0px;
}
.header_1{
    background: yellow;
    padding: 5px 10px;
    position: fixed;
    top: 0;
    left: 0;
    width:100% ;
    z-index: 1000;
    transition: color 10s;
}
header:hover{
    background-color: red;
    
}
.item{
    transition: 1s;
}
@keyframes slidedroite {
    0%{transform: translateX(0);}
    50%{transform:  translateX(100%);}
    100%{transform: translateX(0);}
}
h1{
    animation: slidedroite 5s infinite;
}
h1:hover{
    animation-play-state: paused;
}
.item:hover{
    background-color: red;
    
}
.main{
    background: greenyellow;
    padding: 0px 20px;
    display: block;
    width: 90%;
    align-items: center;
    justify-content: center;
    
}
.footer{
    background: green;
}
.img{
    width: 50%;
    transition: transform .5s;
}
.img:hover{
    transform:scale(1.5);
}
.img2{
    transition: transform 3s;


}
.img2:hover{
    transform: translate( 400px ,0);
   
}
.menu{
    display: flex;
    padding: 1px 10px;

}
.menu a {
    margin: 0px 10px;
}
.coca{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
image{flex-grow: 1;}
    

.image:nth-child(2){
    order: 1;
    flex-grow: 2;
}

image:nth-child(1){
    order: 1;
}